.beta {
    font-size: 0.5em;
    transform: rotate(-10deg);
    display: inline-block;
}

.head-title {
    font-size: 4em;
}
.head-subtitle {
    color: #888;
    font-size: 1.2em;
}

table th {
    text-align: center;
}

table td.pubDate {
    min-width: 7em;
}

.resources .guid {
    min-width: 6em;
    text-align: center;
}
.resources .link {
    min-width: 6em;
    text-align: center;
}
.resources .source {
    min-width: 5em;
    text-align: center;
}

.footer div>span {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
