.beta {
    font-size: 0.5em;
    transform: rotate(-10deg);
    display: inline-block;
}

.head-title {
    font-size: 4em;
}
.head-subtitle {
    color: #888;
    font-size: 1.2em;
}

.search {
    margin-top: 2em;
}
.search-result-sub-title {
    font-size: 1.2em;
    font-weight: bold;
}

table th {
    text-align: center;
}

table td.pubDate {
    min-width: 7em;
}

table td.popularity {
    min-width: 3em;
    text-align: center;
}

.resources .guid {
    min-width: 6em;
    text-align: center;
}
.resources .link {
    min-width: 6em;
    text-align: center;
}
.resources .source {
    min-width: 5em;
    text-align: center;
}

.footer div>span {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.favicon-dmhy:before {
    content: url('../img/favicon-dmhy.png') " ";
}
.favicon-popgo:before {
    content: url('../img/favicon-popgo.png') " ";
}


/** desc.php 页面的样式 */
.desc {
    margin-top: 1%;
}
.desc .content {
    background-color: #eef;
    border: 1px solid #ececec;
}
